@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


:root{
    --blue: #3498db;
    --grey: #383838;
}

body {
    background-color: #1f1f1f;
    font-family: 'Roboto Slab', serif;
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    margin:0;
    color:white;
}
.container{
    text-align: center;

}

.progress-container{
postion: relative;
display:flex;
justify-content:space-between;
width: 350px;
margin-bottom: 30px;
}

.progress-container::before{
    content: '';
    background-color: var(--grey);
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
}


.progress{
    position: absolute;
    width:0%;
    height:4px;
    background-color: white;
    top: 50%;
    left:0;
    z-index:-1;
    transform:translateY(-50%);
    transition: width 0.5s ease;

}
.circle{
    background-color: #C1E1C1;
    height:30px;
    width:30px;
    border-radius:50%;
    border:3px solid var(--grey);
    display:flex;
    justify-content:center;
    align-items:center;
}
.circle.active{
    border-color: white;
    transition:border-color 0.5s ease 0.3s;
}
.btn{
    background-color: var(--blue);
    border:0;
    margin:5px;
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;

}
.btn:active{
    transform: scale(.98);

}
.btn:disabled{
    background-color: var(--grey);
    cursor: not-allowed;
    font-color: #ffffff;
}