@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Smokum&display=swap');
body {
    font-family: 'Playfair Display', serif;
    font-family: 'Smokum', cursive;
    background-color: #0000FF;
    align-items: center;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}
.btn{
    margin: 1rem;
    padding: 1.5rem 3rem;
    background-color: #00008B;
    border: 0;
    margin: 1rem;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
}
.btn.hover{
    opacity: 0.9;
}