@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Smokum&display=swap');
body{
    font-family: 'Playfair Display', serif;
    font-family: 'Smokum', cursive;
    background-color: #0000FF;
}
.btn{
    margin: 1rem;
    padding: 1.5rem 3rem;
    background-color: #00008B;
    
}