@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Playfair+Display:ital@0;1&family=Smokum&display=swap');

body{
        font-family: 'Alkatra', cursive;
        background-color: #A020F0;
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0;
        overflow: hidden;

}
.container{
position:absolute;
bottom: 20px;
padding: 10px 20px;
font-size: 18px;
background: rgba(0,0,0,.3)

}

input{
    width:50px;
    padding: 5px;
    font-size: 18px;
    background-color: #A020F0;
    border: none;
    text-align: center;
}

input:focus{
    outline:none;
}